@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: #F9F9F9;
  --black: #141414;
  --dark-gray: #423F3B;
  --dark-yellow: #a87817;
  --dark-yellow2: #554507;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: var(--white);
}


.logo {
  width: 7.5rem;
  height: 7.5rem;
  margin: auto;
}

.icon-popygua {
  width: 18vh;
  height: 2rem;
}

.home img {
  /* background: url("/public/imagem-grupo.png") cover no-repeat;  */
  /* height: 100%; */
  /* width: 100%; */

  /* margin-top: 2rem; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.5rem 0 1.5rem;
  z-index: 1000;
}

#hamburger-button,
#button-x {
  width: 3.5rem;
  height: 4rem;
  color: var(--white);
  /* margin: 1.5rem; */
  padding: .2rem;
}

/* Estilos para o Sidebar */
#sideBar {
  background-color: var(--black);
  height: 100vh;
  width: 18rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  /*z-index maior que o do navbar */
  transition: left 0.3s ease-in-out;
  padding: .5rem;
  color: var(--white);
  text-decoration: none;
}

.sidebar {
  margin: .5rem;
  flex-direction: column;
}

.sidebar a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: .5rem;
}

.sidebar .nav-link svg {
  width: 1.8rem;
  height: 2rem;
  margin-bottom: .6rem;
  margin-right: 1rem;
}

.sidebar .nav-link span {
  font-family: 'Istok Web', sans-serif;
}

.nav-link:hover {
  color: var(--dark-yellow);
  font-weight: 400;
}

.fixed-text-context {
  margin-left: 3rem;
  padding-left: 1.5rem;
}

.fixed-text {
  margin: 3rem;
  padding: 1.5rem;
}

.fixed-text p {
  padding: 1.2rem;
  margin: 1.2rem;
  font-size: 1.3rem;
}

.fixed-text .images {
  width: 100%;
  padding: .5rem;
}

.fixed-text .images img {
  margin: .3rem;
}

.bg-linear-gradient {
  background: linear-gradient(to bottom, #BEA022, transparent);
}

.image-popygua {
  max-width: 100%;
  /* Mantém a imagem responsiva */
}

.icones {
  margin: auto;
  padding: 1rem;
}

.icones-contexto {
  margin: .5rem;
  padding: auto;
}

.icones .icon {
  width: 4rem;
  height: 4rem;
  padding: .2rem;
  margin: .2rem;
}

.icones p {
  color: var(--dark-yellow2);
  font-family: "Poppins";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
}

.destaque {
  background-image: url('/pista.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 85vh;
  color: var(--white);
  display: flex;
}

.contato {
  background-image: url('/pista-chegada.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh
}

.destaque ul {
  margin: auto;
}

.destaque ul li {
  margin: 3rem;
}

.destaque ul li h1 {
  font-size: 5.5rem;
  color: var(--white);
  font-weight: bold;
}

.destaque ul li p {
  font-size: 1.4rem;
  font-weight: bold;
}

section h1 {
  font-size: 2.4rem;
  font-family: 'Righteous', sans-serif;
  font-weight: 600;
  color: var(--dark-gray);
  margin: 1.2rem;
}

section .imageEquipe {
  margin: .3rem;
}

/* Estilos CSS para o rodapé */
footer {
  /* position: ; */
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--black);
  border-top: 1px solid var(--gray-200);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: 'Poppins';
  text-align: center;
}

footer span {
  text-align: center;
  font-size: 1.2rem;
  padding: .3rem;
}

.icon-container {
  display: flex;
  margin: 1.2rem;
  gap: 1rem;
}

.border-radius {
  width: 3rem;
  height: 3rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius:hover {
  background-color: var(--dark-gray);
}

.redes-sociais {
  color: var(--black);
  width: 2rem;
  height: 1.8rem;
}

.redes-sociais:hover {
  color: var(--white);
}

.fixed-text .logos-patrocinadores img {
  margin: 1.2rem;
  padding: 1rem;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5rem; */
}

.contexto-areas h4 {
  color: #423F3B;
  font-size: 2rem;
  font-weight: bold;
}

.contexto-areas p {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.contexto-areas .icone-area {
  width: 3rem;
  height: 3rem;
}

.botao-com-borda {
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 1rem;
  font-size: 16px;
  transform: rotate(-2.588deg);
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  background-color: white;
  align-items: center;
}

/* ========================= RESPONSIVIDADE ========================== */
@media (max-width: 1000px) {

  .fixed-text {
    margin: 0;
    padding: auto;
  }

  section h1 {
    font-size: 1.8rem;
  }

  section .content p {
    font-size: 1rem;
  }

  #sideBar {
    height: 100%;
    width: 50vh;
  }

  .sidebar .nav-link svg {
    width: 2rem;
    height: 2rem;
  }

  nav {
    justify-content: space-between;
    padding: 1.2rem;
  }

  .icon-popygua-invisible {
    display: none;
  }

  .logo {
    display: block;
    position: absolute;
    right: 0;
    width: 6.5rem;
    height: 6.5rem;
    margin: auto;
  }

  #button-x {
    width: 4rem;
    height: 4.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .destaque {
    background-image: url('/pista3.png');
    background-size: auto;
    background-attachment: fixed;
  }

  .destaque ul {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .destaque ul li {
    padding: .6rem;
    margin: auto;
  }

  .destaque ul li h1 {
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
  }

  .destaque ul li p {
    font-size: 1.3rem;
  }

  .icon-container {
    display: flex;
    margin: .5rem;
  }

  .border-radius {
    width: 2rem;
    height: 2rem;
  }

  .redes-sociais {
    width: 1.6rem;
    height: 1.4rem;
  }

  .icones .icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  footer span {
    text-align: center;
    font-size: 1rem;
  }

  .home img {
    margin-top: 3rem;
  }

}

@media (max-width: 1200px) {

  .destaque ul li {
    padding: .2rem;
    margin: .5rem;
  }

  .destaque ul li p {
    font-size: 1.2rem;
  }
}